{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/account/account_list.css">
{% endblock %}
{% block content-panel %}
<div style="margin-left: 205px;">
    <div id="message_header" class="relative">
        <ul class="breadcrumb">
            <li>您当前所在位置</li>
            <li>
                <a href="/account/user/list/">系统管理</a>
            </li>
            <li>账号管理</li>
        </ul>
    </div>
</div>
<div class="accountPage" style="margin-left: 222px;">
    <div style="text-align: right;">
        <button class="btn btn-primary add_btn mb10" data-toggle="modal" data-target="#new_channer_win" style="" onclick="create()">新增账号</button>
    </div>
    <ul class="nav nav-tabs" style="background-color:white;text-align: center;">
        <li class="accountType {% if account_type == 1 %}active {% endif %}" style="width: 50%;" data-account="1"><a href="javascript:void(0);" style="margin-right: 0;" >正式账号</a></li>
        <li class="accountType {% if account_type == 0 %}active {% endif %}" style="width: 50%;" data-account="0"><a href="javascript:void(0);" style="margin-right: 0;" >体验账号</a></li>
    </ul>
    <div class="panel panel-default" style="border-top:0px;margin-bottom: 10px;">
        <div class="filterPanel">
        <form class="form-horizontal" id="query_form">
            <div class="form-group">
                <label for="name_query" class="col-sm-2 control-label">名称:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="name_query" name="name" placeholder="账户名称/店铺名称">
                </div>
                <label for="status" class="col-sm-2 control-label">状态:</label>
                <div class="col-sm-2">
                    <select class="form-control" id="status" name="status" >
                        <option value ="">全部</option>
                        <option value ="1">启用</option>
                        <option value ="0">关闭</option>
                    </select>
                </div>
                <label  for="devp" class="account_trial col-sm-2 control-label" style="{% if account_type_outer == 1 %}display: none {% endif %}">部门:</label>
                <div  class="account_trial col-sm-2" style="{% if account_type_outer == 1 %}display: none {% endif %}">
                    <select class="form-control" id="devp" name="devp" >
                        <option value ="">全部</option>
                        {% for dep in department %}
                            <option value ="{{ dep }}">{{ dep }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="valid_time" class="col-sm-2 control-label">有效期:</label>
                    <div class="col-sm-5">
                        <input class="form-control inline datepicker" id="valid_from" name="valid_from" readonly>
                        &minus;
                        <input class="form-control inline datepicker" id="valid_to" name="valid_to" readonly>
                    </div>
                </div>
            <div style="text-align: center">
                <input type="reset" class="btn btn-default" value="重置">
                <button type="button" class="btn btn-primary" onclick="list_user()">查询</button>
            </div>
        </form>
        </div>
    </div>
<!-- 重置密码Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document" style="width: 400px;">
            <div class="modal-content" style="margin-top: 200px;">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title myModalLabel" id="myModalLabel"style="text-align:center">重置成功</h4>
              </div>
              <div class="modal-body">
                <p class="tip-information" style="text-align: center;font-size:18px;">请记住你的新密码</p>
                <div id="new_password">
                    <span>生成密码:</span>
                    <span class="new_password" name="new_password"></span>
                </div>
                <div id="valid_time">
                    <span>有效期至:</span>
                    <span class="valid_time"></span>
                </div>
              </div>
              <div class="modal-footer">
                
                <button type="button" class="btn btn-primary" id ="confirm"style="align:center;" data-dismiss="modal">确定</button>
               <!--  <button type="button" class="btn btn-default" data-dismiss="modal">取消</button> -->
              </div>
            </div>
          </div>
        </div>
        
<!-- table -->
    <div class="panel panel-default mt20 xb-rightPanel">
        <div id="list_tmpl_location" class="panel-body"></div>
        <div style="height:30px;"></div>
        {% include 'pageinfo.html' %}
    </div>
</div>
<!-- 新增正式账号 -->
<div class="modal fade" id="new_account" tabindex="-1" role="dialog" aria-labelledby="new_channerLabel" aria-hidden="true">
    <div class="modal-dialog modal-width">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="new_account_title">新增账号</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="create_form">
                    <input class="account_type_outer" name="account_type_outer" value="" style="display:none">
                    <input class="account_type_inner" name="account_type_inner" value="" style="display:none">
                    <div class="form-group">
                        <label for="account" class="col-sm-2 control-label"><em>*</em>账户名称:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="account" name="account">
                        </div>
                    </div>
                    <div class="form-group formal_store_name">
                        <label for="store_name" class="col-sm-2 control-label"><em>*</em>店铺名称:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="store_name" name="store_name" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><em>*</em>选择模块:</label>
                        <div class="col-sm-8 select-module">
                            <input type="checkbox" id="big_data" name="module" value="big_data" checked/><label for="big_data">数据挖掘</label>
                            <input type="checkbox" id="fans" name="module" value="fans" checked/><label for="fans">粉丝沟通</label>
                            <!-- <input type="checkbox" id="weixin" name="module" value="weixin" checked/><label for="weixin">微信互动</label> -->
                            <input type="checkbox" id="weapp" name="module" value="weapp" checked/><label for="weapp">微商城</label>
                            <input type="checkbox" id="compass" name="module" value="compass" checked/><label for="compass">数据罗盘</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><em>*</em>状态:</label>
                        <div class="col-sm-5 status">
                            <input type="radio" id="start" name="status" value="active" checked/>
                            <label for="start">启用</label>
                            <input type="radio" id="close" name="status" value="inactive" />
                            <label for="close">关闭</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><em>*</em>账户类型:</label>
                        <div class="col-sm-5 account_type">
                            <input type="radio" id="test" name="account_type" value="trial" checked />
                            <label for="test">体验</label>
                            <input type="radio" id="formal" name="account_type" value="formal" />
                            <label for="formal">正式</label>
                        </div>
                    </div>
                    <div class="name_department">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label"><em>*</em>姓名:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="name" name="name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="department" class="col-sm-2 control-label"><em>*</em>所属部门:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="department" name="department">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="company_name" class="col-sm-2 control-label">公司名称:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="company_name" name="company_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact_tel" class="col-sm-2 control-label"><em>*</em>联系电话:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="contact_tel" name="contact_tel">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-sm-2 control-label valid_time_from_to" for="valid_time_from"><em>*</em>有效期：</label>
                        <div class="col-sm-3">
                            <input class="form-control inline datepicker" id="valid_time_from" name="valid_time_from" style="width:160px;z-index:9999" readonly>
                        </div>
                        <div class="col-sm-2 fl pl5">
                            <span style="width:10px;z-index:9999;position:absolute;top:6px;left:32px;">至</span>
                            <input class="form-control inline datepicker" id="valid_time_to" name="valid_time_to" style="width:160px;zindex:9999;position:absolute;top:0px;left:53px;" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remark" class="col-sm-2 control-label">备注:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" id="remark" name="remark"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancle_creating" onclick="clear_info()">取消</button>
                <button type="button" class="btn btn-primary createBtn" onclick="checkValidate();">创建</button>
            </div>
        </div>
    </div>
</div>

<!--查看账号 -->
<div class="modal fade" id="view_account" tabindex="-1" role="dialog" aria-labelledby="new_channerLabel" aria-hidden="true">
    <div class="modal-dialog modal-width">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="view_new_account_title">新增正式账号</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="view_form">
                    <input class="view_account_type_outer" name="view_account_type_outer" value="" style="display:none">
                    <div class="form-group">
                        <label for="view_account" class="col-sm-2 control-label"><em>*</em>账户名称:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="view_account_name" name="view_account_name">
                        </div>
                    </div>
                    <div class="form-group formal_view_store_name">
                        <label for="view_store_name" class="col-sm-2 control-label"><em>*</em>店铺名称:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="view_store_name" name="view_store_name" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><em>*</em>选择模块:</label>
                        <div class="col-sm-8 select-view-module">
                            <input type="checkbox" id="view_big_data" name="view_module" value="big_data" checked/><label for="view_big_data">数据挖掘</label>
                            <input type="checkbox" id="view_fans" name="view_module" value="fans" checked/><label for="view_fans">粉丝沟通</label>
                            <!-- <input type="checkbox" id="view_weixin" name="view_module" value="weixin" checked/><label for="view_weixin">微信互动</label> -->
                            <input type="checkbox" id="view_weapp" name="view_module" value="weapp" checked/><label for="view_weapp">微商城</label>
                            <input type="checkbox" id="view_compass" name="view_module" value="compass" checked/><label for="view_compass">数据罗盘</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><em>*</em>状态:</label>
                        <div class="col-sm-5 view_status">
                            <input type="radio" id="view_start" name="view_status" value="active" checked/>
                            <label for="view_start">启用</label>
                            <input type="radio" id="view_close" name="view_status" value="inactive"/>
                            <label for="view_close">关闭</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><em>*</em>账户类型:</label>
                        <div class="col-sm-5 view_account_type">
                            <input type="radio" id="view_test" name="view_account_type" value="trial" checked/>
                            <label for="view_test">体验</label>
                            <input type="radio" id="view_formal" name="view_account_type" value="formal"/>
                            <label for="view_formal">正式</label>
                        </div>
                    </div>
                    <div class="view_name_department">
                        <div class="form-group">
                            <label for="view_name" class="col-sm-2 control-label"><em>*</em>姓名:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="view_name" name="view_name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="view_department" class="col-sm-2 control-label"><em>*</em>所属部门:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="view_department" name="view_department">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="view_company_name" class="col-sm-2 control-label">公司名称:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="view_company_name" name="view_company_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="view_contact_tel" class="col-sm-2 control-label"><em>*</em>联系电话:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="view_contact_tel" name="view_contact_tel">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-sm-2 control-label view_valid_time_from_to" for="view_valid_time_from"><em>*</em>有效期：</label>
                        <div class="col-sm-3">
                            <input class="form-control inline datepicker" id="view_valid_time_from" name="view_valid_time_from" style="width:160px;z-index:9999" readonly>
                        </div>
                        <div class="col-sm-2 fl pl5">
                            <span style="width:10px;z-index:9999;position:absolute;top:6px;left:32px;">至</span>
                            <input class="form-control inline datepicker" id="view_valid_time_to" name="view_valid_time_to" style="width:160px;zindex:9999;position:absolute;top:0px;left:53px;" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="view_remark" class="col-sm-2 control-label">备注:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" id="view_remark" name="view_remark"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer view_modal_footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancle_creating" onclick="clear_info()">取消</button>
                <button type="button" class="btn btn-primary createBtn" onclick="validate_edit_account();">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- 查看历史模版 -->
<div class="modal fade" id="view_history" tabindex="-1" role="dialog" aria-labelledby="new_channerLabel" aria-hidden="true">
    <div class="modal-dialog modal-width">
        <div class="modal-content mt50">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="view_new_account_title">查看历史</h4>
            </div>
            <div class="modal-body">
                
            </div>
        </div>
    </div>
</div>
<!-- table模版 -->
{% verbatim %}
<script id="user_list_tmpl" type="text/x-handlebars-template">
    <table class="table table-bordered table-condensed xui-productList xb-stripedTable xb-noTdBorder xb-noBottom xb-noBorder xb-theadBg">
        <thead>
            <tr>
                <th>序号</th>
                <th>账户名称</th>
                {{#ifequal account_type 1 }}
                <th>店铺名称</th>
                {{ else }}
                <th>姓名</th>
                {{/ifequal}}
                <th>状态</th>
                {{#ifequal account_type 0 }}
                <th>部门</th>
                {{/ifequal}}
                <th>有效期</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {{#each users}}
           
            <tr>
                <td>{{number}}</td>
                <td>{{username}}</td>
                {{#ifequal account_type 1 }}
                <td>{{store_name}}</td>
                {{ else }}
                <td>{{name}}</td>
                {{/ifequal}}
                <td>{{status}}</td>
                {{#ifequal account_type 0 }}
                <td>{{department}}</td>
                {{/ifequal}}
                <td>{{valid_time}}</td>
                <td>
                    <button class="btn btn-primary btn-xs" onclick="view_account_history({{ id }});">历史</button>
                    {{#ifequal status "关闭" }}
                    <button class="btn btn-success btn-xs" onclick="change_account_status({{ id }});">启用</button>
                    {{else}}
                    <button class="btn btn-danger btn-xs" onclick="change_account_status({{ id }});">关闭</button>
                    {{/ifequal}}
                    <button class="btn btn-primary btn-xs" onclick="view_account_before({{ id }});">查看</button>
                    <button class="btn btn-success btn-xs" onclick="edit_account({{ id }});">修改</button>
                    <button class="btn btn-info btn-xs"   onclick="resetPassword( {{id}});">重置密码</button>
                </td>
            </tr>
           
        {{/each}}
        </tbody>
    </table>
</script>
{% endverbatim %}
{% endblock %}
{% block js %}
<script src="/static/js/app/account/account_list.js"></script>
<script src="/static/js/app/account/account.js"></script>
<script type="text/javascript">
    var account_type = 1;
    var account_type_outer = 1;//初始化账号类型为正式账号
    $(function(){
        var tpl   =  $('#user_list_tmpl').html();
        var template = Handlebars.compile(tpl);
        var users = JSON.parse('{{users|safe}}');
        account_type = JSON.parse('{{account_type}}');
        var context = {users:users,account_type:account_type};
        $('#list_tmpl_location').html(template(context));
        render_pagenator({{ pageinfo|safe }},list_user);

        $('#create_form').validate({
            rules: {
                account: {
                    required: true,
                    alnum: true,
                    minlength: 1,
                    maxlength: 20
                },
                store_name: {
                    required: true,
                    minlength: 1,
                    maxlength: 20
                },
                department: {
                    required: true,
                    minlength: 1,
                    maxlength: 20
                },
                name:{
                    required: true,
                    minlength: 1,
                    maxlength: 20
                },
                contact_tel: {
                    required: true,
                    isTelOrMobile:true
                },
                company_name: {
                    maxlength: 20
                }
            },
            errorPlacement: function (error, element) {
                var errMsg = $('label[for="' + element.attr('name') + '"]').text().replace('*','');
                toast(errMsg + '' + error.text(), 'warning');
            }
        });
        $('#view_form').validate({
            rules: {
                view_store_name: {
                    required: true,
                    minlength: 1,
                    maxlength: 20
                },
                view_department: {
                    required: true,
                    minlength: 1,
                    maxlength: 20
                },
                view_name: {
                    required: true,
                    minlength: 1,
                    maxlength: 20
                },
                view_contact_tel: {
                    required: true,
                    isTelOrMobile:true
                },
                view_company_name: {
                    maxlength: 20
                }
            },
            errorPlacement: function (error, element) {
                var errMsg = $('label[for="' + element.attr('name') + '"]').text().replace('*','');
                toast(errMsg + '' + error.text(), 'warning');
            }
        });

        $('input[name="account_type"]').on('click',function(e){
            var targ;
            if (!e){
                var e = window.event;
            }
            if (e.target) {
                targ = e.target;
            }else if (e.srcElement) {   
                targ = e.srcElement;
            }
            var value = targ.getAttribute('value');
            if(value == 'formal'){
                $('.name_department').css('display','none');
                $('#company_name').parent().parent().css('display','block');
            }else{
                $('.name_department').css('display','block');
                $('#company_name').parent().parent().css('display','none');
            }
        });
        $('input[name="view_account_type"]').on('click',function(e){
            var targ;
            if (!e){
                var e = window.event;
            }
            if (e.target) {
                targ = e.target;
            }else if (e.srcElement) {   
                targ = e.srcElement;
            }
            var value = targ.getAttribute('value');
            if(value == 'formal'){
                $('.view_name_department').css('display','none');
                $('#view_company_name').parent().parent().css('display','block');
            }else{
                $('.view_name_department').css('display','block');
                $('#view_company_name').parent().parent().css('display','none');
            }
        });
    });
    

    function create(){
        $('#test').prop('checked',true);
        var val = $('.nav-tabs li.active').attr('data-account');
        if (val == 1){
            $('#formal').prop('checked',true);
            $('#store_name').parent().parent().css('display','block');
            $('.name_department').css('display','none');
            $('#valid_time').css('display','block');
            $('#company_name').parent().parent().css('display','block');
        }else{
            $('#test').prop('checked',true);
            $('#store_name').parent().parent().css('display','none');
            $('.name_department').css('display','block');
            $('#valid_time').css('display','none');
            $('#company_name').parent().parent().css('display','none');
        }
        $('#new_account').modal({keyboard: false});
    }

    //查询
    function list_user(){
        var query_page = arguments[0] || 1;
        query_page = $('#query_form').serialize() + '&page='+query_page+'&account_type='+account_type;
        $.ajax({
            url: 'account/user/list/',
            type: 'post',
            data: query_page,
            success: function(resp){
                if(resp.code == 200){
                    render_pagenator(resp.data.pageinfo,list_user);
                    var tpl   =  $('#user_list_tmpl').html();
                    var template = Handlebars.compile(tpl);
                    var context = {users:resp.data.users,account_type:resp.data.account_type};
                    $('#list_tmpl_location').html(template(context));
                    var devp = $('#devp').val();
                    var devp_html ='';
                    var dep_list = resp.data.dep_list;
                    for (var i=0 in dep_list){
                       devp_html += '<option value ="'+dep_list[i]+'">'+dep_list[i]+'</option>';
                    }
                    $('#devp').find('option:first').nextAll().remove();
                    $('#devp').find('option:first').after(devp_html);
                    $('#devp').val(devp);
                }else{
                    toast(resp.errMsg,'error');
                }
            },
            error: function(){
                console.log('list_user_fail...');
            }
        });
    }

    $('body').delegate('.accountType','click',function(event){
        var $this= $(event.currentTarget);
        account_type = $this.attr('data-account');
        $this.parent('ul').children('.active').removeClass('active');
        $this.addClass('active');
        if (account_type == 0){
            $('.account_trial').css('display','block');
            $('#name_query').attr('placeholder','账户名称/姓名');
            //var valid_time_html = ('#query_form').find('label [for=valid_time]').html();
            //$('#query_form').children("div").get(0).append(valid_time_html);
            //$('#query_form').children("div").get(2).css('display','none');
            account_type_outer="";
        }
        else{
            $('.account_trial').css('display','none');
            $('#name_query').attr('placeholder','账户名称/店铺名称');
            account_type_outer=1;
        }
        $('#query_form').find('input[type=reset]').get(0).click();//重置
        $('#header_account').attr('href','/account/user/list?account_type_outer='+account_type);
        $('#header').find('a').attr('href','/account/user/list?account_type_outer='+account_type);
        list_user();
    });

    //'重置密码'
    function resetPassword(id){
        confirm({
            positiveBtn : '确定',
            title : '重置密码',
            content : '确定重置密码么?',
            positiveCallback:function(){
                $.ajax({
                    url:'/account/reset_password/?id='+id,
                    type:'get',
                    success:function(resp){
                        if(resp.code == 200){
                            var password = resp.data.password;
                            var valid_time = resp.data.valid_time;
                            $('#new_password').find('.new_password').html(password);
                            $('#valid_time').find('.valid_time').html(valid_time);
                            $('#myModal').modal({keyboard: false});
                        }else{
                            toast(resp.errMsg,'error');
                        }
                    },
                    error:function(error){
                        console.log('resetPassword_fail...');
                    }
                });
            }
        });
    }

    function change_account_status(id){
        var page = $('.pagination').children('.active').text();
        $.ajax({
            url:'/account/change_account_status/?id='+id,
            type:'get',
            success:function(resp){
                if(resp.code == 200){
                    list_user(page);
                }else{
                    toast(resp.errMsg);
                }
            },
            error:function(error){
                console.log('change_account_status_fail...');
            }
        });
    }
    function checkValidate(){
        var is_validate = $('#create_form').valid();
        if(is_validate){
            create_account();
        }
    }
    function validate_edit_account(){
        var is_validate = $('#view_form').valid();
        if(is_validate){
            save_edit_account();
        }
    }
    function clear_info(){
        $('#create_form').find('input[type=text]').val('');
        $('#create_form').find('textarea').val('');
        $('#valid_time_from').val('');
        $('#valid_time_to').val('');
    }
</script>
{% endblock %}