{% extends "content_base.html" %}

{% block css %}
{% endblock %}

{% block single-content-panel %}
<ul class="breadcrumb mt15">
	<li class="active">修改密码</li>
</ul>

<form class="form-horizontal" method="post" name="ValidateView">
	<fieldset>
		<div class="control-group">
			<label class="control-label" for="old_password">初始密码：</label>
			<div class="controls">
				<input type="password" id="old_password" name="old_password" />
				<p class="help-inline error" style="display: none" error="old_password">请输入初始密码</p>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="new_password">新密码：</label>
			<div class="controls">
				<input type="password" id="new_password" name="new_password" />
				<p class="help-inline" error="new_password"></p>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="confirm_password">再输一遍：</label>
			<div class="controls">
				<input type="password" id="confirm_password" name="confirm_password" />
				<p class="help-inline error" style="display: none" error="confirm_password">两次密码不一致</p>
			</div>
		</div>
	</fieldset>
	
	<fieldset>
		<legend></legend>
		<div class="control-group">
			<label class="control-label" for="confirm_password"></label>
			<div class="controls">
				<input type="submit" class="btn btn-success tx_submit" value="&nbsp;&nbsp;&nbsp;&nbsp;提&nbsp;&nbsp;交&nbsp;&nbsp;&nbsp;&nbsp;" />
			</div>
		</div>
	</fieldset>
</form>
{% endblock %}

{% block dialog %}
{% endblock %}

{% block jsTemplate %}
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(document).ready(function() {
		$('#old_password').focus();

		$('form').submit(function() {
			var oldPassword = $('#old_password').val();
			var newPassword = $('#new_password').val();
			var confirmPassword = $('#confirm_password').val();
			
			if (oldPassword.length == 0) {
				var div = $('#old_password').parents('div.control-group');
				div.addClass('error');
				div.find('.help-inline').css('display', 'inline');
				return false;
			}
			
			if (newPassword != confirmPassword) {
				var div = $('#confirm_password').parents('div.control-group');
				div.addClass('error');
				div.find('.help-inline').css('display', 'inline');
				return false;
			}

			$.post('/password/update/', {
				old_password: oldPassword,
				new_password: newPassword,
				confirm_password: confirmPassword
			}, function(response) {
				if (response.code == 200) {
					if (response.data.success) {
						alert('修改密码成功!')
						window.location.href = "/logout"; 
					} else {
						alert(response.data.reason);
					}
					$('#old_password').val('');
					$('#new_password').val('');
					$('#confirm_password').val('');
				}
			});
			return false;
		});

		$('input').blur(function(event) {
			var div = $('div.control-group');
			div.removeClass('error');
			div.find('.help-inline').hide();
		});
	});
</script>
{% endblock %}