{% extends "base.html" %}

{% load humanize %}

{% block content %}

<h4>{{ question }} </h4>
   Posted on {{ question.pub_date }}
<ul>

<div class="list-group">
{% for answer in question.answer_set.all %}
	<p class="list-group-item">
	{{ answer.answer_text }} <small>({{ answer.pub_date|naturaltime }})	</small>
	</p>
{% endfor %}
</div>

{% if error_message %}
	<p>error_message</p>
{% endif %}

<form action="{% url 'QuestionAnswer:view_answer' question.id  %}" method="post">
{% csrf_token %}
	<input type="text" name="answer_text" id="answer_text" placeholder="Type your answer"/>
	<input type="submit" value="Reply" />
</form>

{% endblock %}
