{% load staticfiles %}

<h1>QuestionAnswer</h1>

<h3>Post a question now!</h3>
<form action="{% url 'QuestionAnswer:new_question' %}" method="post">
{% csrf_token %}
	<input type="text" name="question_text" id="question_text" placeholder="Type your question here" />
	<input type="submit" value="Post" />
</form>

<h3>Latest Questions</h3>
{% if latest_questions %}
	<ul>
	{% for question in latest_questions %}
	<li><a href="{% url 'QuestionAnswer:detail' question.id  %}">
		{{ question.question_text }}
	</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No questions yet. Post one now!</p>
{% endif %}



