{% extends "base.html" %}
{% block content %}
	<div class="form-group input-group col-lg-6">
	  <span class="input-group-addon" id="basic-addon1">Question_title</span>
	  <input type="text" class="form-control" placeholder="Title" aria-describedby="basic-addon1" name="question_title">
	</div>
	<div class="form-group input-group col-lg-6">
	  <span class="input-group-addon" id="basic-addon1">Belone_theme</span>
	  <input type="text" class="form-control" placeholder="Theme" aria-describedby="basic-addon1">
	</div>
	<div class="form-group input-group">
	  <span class="input-group-addon" id="basic-addon1">Description</span>
	  <textarea type="text" class="form-control" placeholder="Description" aria-describedby="basic-addon1" rows="4" name="description"></textarea>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-success">submit</button>
		<button type="button" class="btn btn-info">reset</button>
		<button type="button" class="btn btn-default">cancel</button>
	</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$('.btn-success').click(function() {
		var question_title = $("input[name='question_title']").val();
		var description = $("textarea[name='description']").val();
		var belone_theme = '1';
		$.ajax({
			url:'/QuestionAnswer/add_question/', 
			type:'post', 
			data:{
				'question_title':question_title,
				'description':description,
				'belone_theme':belone_theme
			}, 
			success:function() {
				alert('success!')
			},
			error:function() {
				alert('error!')
			}
		})
	})
</script>
{% endblock %}