{% extends "base.html" %}
{% block css %}
<style type="text/css">
	.search_suggest{ position:absolute; z-index:999; left:132px; top:41px; width:468px; border:1px solid #999999; display:none; }
.search_suggest li{height:24px; overflow:hidden; padding-left:3px; line-height:24px; background:#FFFFFF; cursor:default;}
.search_suggest li.hover{background:#DDDDDD;}
</style>
{% endblock %}
{% block content %}
<div class="form-group input-group col-lg-6">
	<span class="input-group-addon" id="basic-addon1">问题标题</span>
	<input type="text" class="form-control" placeholder="Title" aria-describedby="basic-addon1" name="question_title"></div>
<div class="form-group input-group col-lg-6">
	<span class="input-group-addon" id="basic-addon1">主题</span>
	<input type="text" class="form-control" placeholder="Theme" aria-describedby="basic-addon1" name="belone_theme" id="gover_search_key">
	<div class="search_suggest" id="gov_search_suggest">
		<ul></ul>
	</div>
</div>
<div class="form-group input-group">
	<p>问题描述:</p>
	<!-- <span class="input-group-addon" id="basic-addon1">问题描述</span> -->
	<!-- <textarea type="text" class="form-control" placeholder="Description" aria-describedby="basic-addon1" rows="4" name="description"></textarea> -->
	<script id="editor" type="text/plain" style="width:100%;height:100px;"></script>
</div>
<div class="form-group">
	<button type="submit" class="btn btn-success">提交</button>
	<button type="button" class="btn btn-info xa-reset">重置</button>
	<a href="/" class="btn btn-default">取消</a>
</div>
{% endblock %}

{% block js %}
<script charset="utf-8" src="/static/ueditor/ueditor.config.js"></script>
<script charset="utf-8" src="/static/ueditor/ueditor.all.js"> </script>
<script charset="utf-8" src="/static/ueditor/lang/zh-cn/zh-cn.js"> </script>
<script type="text/javascript">
	upload_config = {
        /* 上传图片配置项 必须！*/
        "imageActionName": "uploadimage", /* 执行上传图片的action名称 */
        "imageFieldName": "upfile", /* 提交的图片表单名称 */
        "imageAllowFiles": [".png", ".jpg", ".jpeg", ".gif", ".bmp"], /* 上传图片格式显示 */
        "imageUrlPrefix": "" /* 图片访问路径前缀 */
    };
	var ue = UE.getEditor('editor',upload_config);

	$('.btn-success').click(function() {
		var question_title = $("input[name='question_title']").val();
		var description = ue.getContent();
		var belone_theme = $("input[name='belone_theme']").val();
		$.ajax({
			url:'/QuestionAnswer/add_question/', 
			type:'post', 
			data:{
				'question_title':question_title,
				'description':description,
				'belone_theme':belone_theme
			}, 
			success:function(resp) {
				location.href='/QuestionAnswer/question_detail/?question_id='+resp.data.question_id;
			},
			error:function() {
				// location.reload();
			}
		})
	})
	$('input[name="belone_theme"]').keyup(function() {
		console.log($(this).val())
	})
	$('input[name="belone_theme"]').blur(function() {
		
	})

	$('.xa-reset').click(function() {
		$("input[name='question_title']").val('');
		$("textarea[name='description']").val('');
		$("input[name='belone_theme']").val('');
	})






	//实现搜索输入框的输入提示js类
// function oSearchSuggest(searchFuc){
// 	var input = $('#gover_search_key');
// 	var suggestWrap = $('#gov_search_suggest');
// 	var key = "";
// 	var init = function(){
// 		input.bind('keyup',sendKeyWord);
// 		input.bind('blur',function(){setTimeout(hideSuggest,100);})
// 	}
// 	var hideSuggest = function(){
// 		suggestWrap.hide();
// 	}
	
// 	//发送请求，根据关键字到后台查询
// 	var sendKeyWord = function(event){
		
// 		//键盘选择下拉项
// 		if(suggestWrap.css('display')=='block'&&event.keyCode == 38||event.keyCode == 40){
// 			var current = suggestWrap.find('li.hover');
// 			if(event.keyCode == 38){
// 				if(current.length>0){
// 					var prevLi = current.removeClass('hover').prev();
// 					if(prevLi.length>0){
// 						prevLi.addClass('hover');
// 						input.val(prevLi.html());
// 					}
// 				}else{
// 					var last = suggestWrap.find('li:last');
// 					last.addClass('hover');
// 					input.val(last.html());
// 				}
				
// 			}else if(event.keyCode == 40){
// 				if(current.length>0){
// 					var nextLi = current.removeClass('hover').next();
// 					if(nextLi.length>0){
// 						nextLi.addClass('hover');
// 						input.val(nextLi.html());
// 					}
// 				}else{
// 					var first = suggestWrap.find('li:first');
// 					first.addClass('hover');
// 					input.val(first.html());
// 				}
// 			}
			
// 		//输入字符
// 		}else{ 
// 			var valText = $.trim(input.val());
// 			if(valText ==''||valText==key){
// 				return;
// 			}
// 			searchFuc(valText);
// 			key = valText;
// 		}			
		
// 	}
// 	//请求返回后，执行数据展示
// 	this.dataDisplay = function(data){
// 		if(data.length<=0){
//             suggestWrap.hide();
// 			return;
// 		}
		
// 		//往搜索框下拉建议显示栏中添加条目并显示
// 		var li;
// 		var tmpFrag = document.createDocumentFragment();
// 		suggestWrap.find('ul').html('');
// 		for(var i=0; i<data.length; i++){
// 			li = document.createElement('LI');
// 			li.innerHTML = data[i];
// 			tmpFrag.appendChild(li);
// 		}
// 		suggestWrap.find('ul').append(tmpFrag);
// 		suggestWrap.show();
		
// 		//为下拉选项绑定鼠标事件
// 		suggestWrap.find('li').hover(function(){
// 				suggestWrap.find('li').removeClass('hover');
// 				$(this).addClass('hover');
		
// 			},function(){
// 				$(this).removeClass('hover');
// 		}).bind('click',function(){
// 			input.val(this.innerHTML);
// 			suggestWrap.hide();
// 		});
// 	}
// 	init();
// };

// //实例化输入提示的JS,参数为进行查询操作时要调用的函数名
// var searchSuggest =  new oSearchSuggest(sendKeyWordToBack);

// //这是一个模似函数，实现向后台发送ajax查询请求，并返回一个查询结果数据，传递给前台的JS,再由前台JS来展示数据。本函数由程序员进行修改实现查询的请求
// //参数为一个字符串，是搜索输入框中当前的内容
// function sendKeyWordToBack(keyword){
// 	   /*  var obj = {
// 			    "keyword" : keyword
// 			 };
// 			 $.ajax({
// 					   type: "POST",
// 					   url: "${ctx}/front/suqiu2/search/prompt-keyword.action",
// 					   async:false,
// 					   data: obj,
// 					   dataType: "json",
// 					   success: function(data){
// 						 //var json = eval("("+data+")");
// 						 var key=data.split(",");
// 						 var aData = [];
// 						 for(var i=0;i<key.length;i++){
// 								//以下为根据输入返回搜索结果的模拟效果代码,实际数据由后台返回
// 							if(key[i]!=""){
// 								  aData.push(key[i]);
// 							}
// 						 }
// 						//将返回的数据传递给实现搜索输入框的输入提示js类
// 						 searchSuggest.dataDisplay(aData);
// 					   }
// 		 });	  */
			 
// 				//以下为根据输入返回搜索结果的模拟效果代码,实际数据由后台返回
// 				var aData = [];
// 				aData.push(keyword+'返回数据1');
// 				aData.push(keyword+'返回数据2');
// 				aData.push(keyword+'不是有的人天生吃素的');
// 				aData.push(keyword+'不是有的人天生吃素的');
// 				aData.push(keyword+'2012是真的');
// 				aData.push(keyword+'2012是假的');
// 				//将返回的数据传递给实现搜索输入框的输入提示js类
// 				searchSuggest.dataDisplay(aData);
	
// }
</script>
{% endblock %}