{% extends "base.html" %}

{% block content %}

<h3>Latest Questions</h3>
{% if latest_news %}
        <div class="list-group">
        {% for new in latest_news %}
        <a href="{% if new.is_question %}/?question_id={{ new.question_id }}{% endif %}{% if new.is_answer %}/?answer_id={{ new.answer_id }}{% endif %}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ new.question_text }}</h4>
            <h6 class="list-group-item-heading">{{ new.action }}</h6>
            <p class="list-group-item-text">{{ new.created_at }}</p>
        </a>
        {% endfor %}
        </div>
{% else %}
        <p>No questions yet. Post one now!</p>
{% endif %}

{% endblock %}