{% extends "base.html" %}

{% block content %}

<h3>最新动态</h3>
{% if latest_news %}
        <div class="list-group">
        {% for new in latest_news %}

        {% if new.action_type == 0 %}
        <a href="/QuestionAnswer/question_detail/?question_id={{ new.question_id }}" class="list-group-item">
            <h6 class="list-group-item-heading">{{ new.action_user }}关注了问题</h6>
            <h4 class="list-group-item-heading">{{ new.question_title }}</h4>
            <p class="list-group-item-text" style="text-indent: 2em;">{{ new.question_text|slice:":500" }} </p>
            <p class="list-group-item-text blockquote-reverse">{{ new.created_at|date:"Y-m-j H:i" }}</p>
        </a>
        {% endif %}

        {% if new.action_type == 1 %}
        <a href="/QuestionAnswer/theme_detail/?theme_id={{ new.theme_id }}" class="list-group-item">
            <h6 class="list-group-item-heading">{{ new.action_user }}关注了话题</h6>
            <h4 class="list-group-item-heading">{{ new.theme_name }}</h4>
            <p class="list-group-item-text blockquote-reverse">{{ new.created_at|date:"Y-m-j H:i" }}</p>
        </a>
        {% endif %}

        {% if new.action_type == 2 %}
        <a href="/QuestionAnswer/answer_detail/?answer_id={{ new.answer_id }}" class="list-group-item">
            <h6 class="list-group-item-heading">{{ new.action_user }}关注了答案</h6>
            <h4 class="list-group-item-heading">{{ new.question_title }}</h4>
            <p class="list-group-item-text" style="text-indent: 2em;">{{ new.answer_text|slice:":500" }} </p>
            <p class="list-group-item-text blockquote-reverse">{{ new.created_at|date:"Y-m-j H:i" }}</p>
        </a>
        {% endif %}

        {% if new.action_type == 3 %}
        <a href="/QuestionAnswer/answer_detail/?answer_id={{ new.answer_id }}" class="list-group-item">
            <h6 class="list-group-item-heading">{{ new.action_user }}回答了问题</h6>
            <h4 class="list-group-item-heading">{{ new.question_title }}</h4>
            <p class="list-group-item-text" style="text-indent: 2em;">{{ new.answer_text|slice:":500" }} </p>
            <p class="list-group-item-text blockquote-reverse">{{ new.created_at|date:"Y-m-j H:i" }}</p>
        </a>
        {% endif %}

        {% if new.action_type == 4 %}
        <a href="/QuestionAnswer/answer_detail/?answer_id={{ new.answer_id }}" class="list-group-item">
            <h6 class="list-group-item-heading">{{ new.action_user }}评论了该问题下的答案</h6>
            <h4 class="list-group-item-heading">{{ new.question_title }}</h4>
            <p class="list-group-item-text" style="text-indent: 2em;">{{ new.answer_text|slice:":500" }} </p>
            <p class="list-group-item-text blockquote-reverse">{{ new.created_at|date:"Y-m-j H:i" }}</p>
        </a>
        {% endif %}

        {% if new.action_type == 5 %}
        <a href="/QuestionAnswer/answer_detail/?answer_id={{ new.answer_id }}" class="list-group-item">
            <h6 class="list-group-item-heading">{{ new.action_user }}赞了答案</h6>
            <h4 class="list-group-item-heading">{{ new.question_title }}</h4>
            <p class="list-group-item-text" style="text-indent: 2em;">{{ new.answer_text|slice:":500" }} </p>
            <p class="list-group-item-text blockquote-reverse">{{ new.created_at|date:"Y-m-j H:i" }}</p>
        </a>
        {% endif %}

        {% if new.action_type == 6 %}
        <a href="/QuestionAnswer/answer_detail/?answer_id={{ new.answer_id }}" class="list-group-item">
            <h6 class="list-group-item-heading">{{ new.action_user }}反对这个答案</h6>
            <h4 class="list-group-item-heading">{{ new.question_title }}</h4>
            <p class="list-group-item-text" style="text-indent: 2em;">{{ new.answer_text|slice:":500" }} </p>
            <p class="list-group-item-text blockquote-reverse">{{ new.created_at|date:"Y-m-j H:i" }}</p>
        </a>
        {% endif %}

        {% if new.action_type == 7 %}
        <a href="/QuestionAnswer/question_detail/?question_id={{ new.question_id }}" class="list-group-item">
            <h6 class="list-group-item-heading">{{ new.theme_name }}话题下有新问题</h6>
            <h4 class="list-group-item-heading">{{ new.question_title }}</h4>
            <p class="list-group-item-text" style="text-indent: 2em;">{{ new.question_text|slice:":500" }} </p>
            <p class="list-group-item-text blockquote-reverse">{{ new.created_at|date:"Y-m-j H:i" }}</p>
        </a>
        {% endif %}

        {% if new.action_type == 8 %}
        <a href="/account/view_account/?user_id={{ new.actioned_user_id }}" class="list-group-item">
            <h6 class="list-group-item-heading">{{ new.action_user }}关注了用户{{ new.actioned_user_name }}</h6>
            <p class="list-group-item-text blockquote-reverse">{{ new.created_at|date:"Y-m-j H:i" }}</p>
        </a>
        {% endif %}

        {% endfor %}
        </div>
{% else %}
        <p>No questions yet. Post one now!</p>
{% endif %}

{% endblock %}