{% extends "base.html" %}


{% block content %}
{% if error_message %}
	<p>error_message</p>
{% else %}

<h2>{{ question_title }} <small>{% if focused %}<button type="button" class="btn btn-success" style="margin-left: 20px;margin-bottom: 7px;">取消关注</button>{% else %}<button type="button" class="btn btn-green" style="margin-left: 20px;margin-bottom: 7px;">关注问题</button>{% endif %}</small></h2>
   <p class="text-right">{{ question_owner_user_name }}创建于{{ created_at|date:"Y-m-j H:i" }}</p>
<p style="text-indent: 2em;">描述：{{ question_text }}</p>
<p style="text-indent: 2em;">{{ answers_num }}个回答</p>

<div class="list-group">
{% for answer in answers %}
	<p class="list-group-item">
	<span style="display: block;">{{ answer.owner_user_name }}&nbsp;&nbsp;{{ answer.up_owner_user_ids_num }}个赞同&nbsp;&nbsp;{{ answer.down_owner_user_ids_num }}个反对</span>
	{{ answer.answer_text|slice:":200" }} 
	</p>
{% endfor %}
</div>

{% endif %}

<form action="" method="post">
	<input type="text" name="answer_text" id="answer_text" placeholder="Type your answer"/>
	<input type="submit" value="Reply" />
</form>

{% endblock %}
{% block js %}
<script type="text/javascript">
	$('button.btn').click(function() {
		var _this = this;
		$.ajax({
			url:'/QuestionAnswer/focuse_action/',
			type:'post',
			data:{
				'question_id':{{ question_id }},
				'action_type':'question',
			},
			success:function() {
				if ($(_this).hasClass('btn-success')) {
					$(_this).removeClass('btn-success');
					$(_this).html('关注问题')
				}else{
					$(_this).addClass('btn-success');
					$(_this).html('取消关注')
				}
				if ($(_this).hasClass('btn-green')) {
					$(_this).removeClass('btn-green');
					$(_this).html('取消关注')
				}else{
					$(_this).addClass('btn-green');
					$(_this).html('关注问题')
				}
				
			},
			error:function() {
				alert('focuse fail')
			}
		})
	})
</script>
{% endblock %}