{% extends "base.html" %}

{% block content %}

{% if error_message %}
	<p>error_message</p>
{% else %}

<h2>主题：{{ theme_name }} <small><button type="button" class="btn btn-primary" style="margin-left: 10px;">关注</button></small></h2>
<!-- <button type="button" class="btn btn-success pull-left">关注</button> -->
<div style="clear: both;"></div>
<p style="text-indent: 2em;">描述：{{ description }}</p>
<p>所属问题:</p>
<div class="list-group">
	{% for question in questions %}
	<p class="list-group-item">
	<a href="/QuestionAnswer/question_detail/?question_id={{ question.id }}">{{ question.title }}</a>
	</p>
	{% endfor %}
</div>

{% endif %}

{% endblock %}