body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}
.btn-green{
	border-color: #50C87E;
	color: #50C87E;
	background: #fff;
}
.btn-blue{
	border-color: #0e7bef;
	color: #0e7bef;
	background: #fff;
}
.hide {
	display: none;
}